/* Box sizing rules */
*,
*::before,
*::after {
  /* outline: dashed 1px gray; */
  box-sizing: border-box;
}

:root {
  --color-primary-orange: hsl(25, 97%, 53%);
  --color-neutral-light-grey: hsl(217, 12%, 63%);
  --color-neutral-medium-grey: hsl(216, 12%, 54%);
  --color-neutral-dark-blue: hsl(210, 19%, 18%);
  --color-neutral-darker-blue: hsl(215, 22%, 15%);
  --color-neutral-darkest-blue: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--color-neutral-darkest-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 350px;
  height: 390px;
  background-color: var(--color-neutral-darker-blue);
  border-radius: 20px;
  padding: 1.8em;
}

.round-background {
  background-color: var(--color-neutral-dark-blue);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral-light-grey);
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  color: white;
}

h2 {
  font-size: 0.9375rem;
  color: var(--color-neutral-light-grey);
  font-weight: 400;
}

.rating-row {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.rating {
  color: var(--color-neutral-light-grey);
  font-weight: 700;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-primary-orange);
  color: white;
  height: 3rem;
  align-self: stretch;
  border-radius: 2rem;
  font-weight: 700;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-neutral-light-grey);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}